*.o
client_sample
test_listener
sender_sample
test_seg
test_queue
test_malloc
test_version
sender_json
libunyte-udp-notif.so
scripts/resources

docker/tmp

**/*.log
**/logs/run*
/.vscode
/download
vgcore.*
unyte-udp-notif.pc
scripts/graph.eps
.editorconfig
