*.o
client_sample
client_performance
test_listener
client_loss
sender_sample
test_seg
test_queue
test_malloc
sender_performance
sender_json
libunyte-udp-notif.so

docker/tmp

# !**/*.sh
# !Dockerfile
# !**/*.yml
# !**/*.md
# !README

**/*.log
/.vscode
/download
vgcore.*
unyte-udp-notif.pc
